<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DailyPicNew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>940A2B451F4A9846007BBC8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>940A2B5E1F4A9846007BBC8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>940A2B691F4A9846007BBC8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
